button {
    background-color: #f629a3;
    border-radius: 42px;
    border: #000000 solid;
}
a {
    color: #000000;
    text-decoration: none;
}
html {
    background-color: beige;
}
header, main, footer {
    background-color: beige;
}
#pagesNav {
    height: auto;
    position: sticky;
}
#logo {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.title {
    display: inline-block;
    font-size: 64px;
    margin-top: 0px;
    border: 1px solid #000000;
    height: 64px;
}
.pages {
    font-size: 28px;
    list-style-type: none;
    display: flex;
    gap: calc(25vw - 28px);
    padding: 10px;
    height: 20px;
}
.title-container {
    /*align-self: center;*/
    display: flex;
    justify-content: center;
}